In [1]:
library(data.table)

In [2]:
tss_bed <- fread("hg38_TSS1kb_refseq_diff53prime_with_putatives.bed")
tss_bed[1:2,]

  V1   V2    V3    V4                  V5 V6
1 chr1 11373 12373 DDX11L1:NR_046018.2 .  +
2 chr1 28870 29870 WASH7P:NR_024540.1  .  -

In [3]:
# Get the TSS again (midpoint)
tss_bed$TSS <- as.integer((tss_bed$V2+tss_bed$V3)/2)
# Get the difference to double check
unique(tss_bed$TSS - tss_bed$V2)
unique(tss_bed$V3 - tss_bed$TSS)

[1] 500

[1] 500

In [4]:
# make it 900bp instead
tss_bed$start_900 <- tss_bed$TSS - 900
tss_bed$stop_900 <- tss_bed$TSS + 900
tss_bed[1:3,]

  V1   V2    V3    V4                    V5 V6 TSS   start_900 stop_900
1 chr1 11373 12373 DDX11L1:NR_046018.2   .  +  11873 10973     12773
2 chr1 28870 29870 WASH7P:NR_024540.1    .  -  29370 28470     30270
3 chr1 16936 17936 MIR6859-1:NR_106918.1 .  -  17436 16536     18336

In [5]:
write.table(tss_bed[,c("V1", "start_900", "stop_900", "V4", "V5", "V6")], 
            "hg38_TSS1.8kb_refseq_diff53prime_with_putatives.bed", 
            quote=FALSE, sep="\t", col.names=FALSE, row.names=FALSE)